.filter .ng5-slider-bubble {
    font-size: 0.75rem !important;
}

.filter-price {
    color: #b1aeae;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
}

.apply-btn-row {
    text-align: center;
}

.apply-btn {
    background-color: #1976d2;
    border-radius: 2vw;
    color: #fff;
    min-height: 5vh;
    width: 125px;
    margin-top: 5vh;
    font-size: 1rem;
}

.mobile-btn {
    color: #1976d2;
    background-color: #fff;
    border: 0.5px solid lightgray;
    text-align: center;
    min-width: 30vw;
    margin-top: 20px;
}