<div class="product">
    <img [src]='product.img_url' class="product-image" />
    <div class="product-name">{{product.name}}</div>
    <div class="product-price">
        <span class="seling-price"><fa-icon [icon]="faRupeeSign">
            </fa-icon>{{priceAfterDiscount(product.price,product.discount)}}</span>
        <span class="actual-price">{{product.price}}</span>
        <span class="discounted-price">{{product.discount}} % off</span>
    </div>
    <button class="add-to-cart" title="add to card" (click)="addToCart(product)">Add to Cart</button>
</div>